<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="WrkPlan.CustomerPortal.UI.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="js/downloads.js"></script>
    <script src="js/payments.js"></script>
    <script src="js/navigation-guard.js"></script>
    <script src="js/wrkplan-esign.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
